body
{
    background-color:#24303a;
    text-align:center;
}
h3
{
    text-align:center;
    color:white;
}
input
{
    background-color:#24303a;
    margin: 0 auto 15px auto;
    width: 400px;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    border-radius: 15px;
    border: 1px solid #e0e0e0;
    margin:10px;

}
button
{
    color:white;
    background-color:#356fc4;
    height:33px;
    font-size:medium;
    width:420px;
    border-radius: 15px;
    cursor:pointer;
}
.message
{
    text-align:center;
    color:white;
}
.inphormation
{
    text-align:left;
    color:red;
}
.result
{
    background-color:#24303a;
    text-align:center;
}
.victims
{
    color : green;
    text-align : left;
}
.chacker
{
    background-color:#24303a;
    text-align:center;
}


